ing-accordion {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
}

/* Слоты рендерятся напрямую в DOM, можно использовать ::slotted */
ing-accordion::slotted(h3[slot="_accordion"]),
ing-accordion::slotted(ing-accordion-content[slot="_accordion"]) {
  display: block;
}

/* Распределение по колонкам */
ing-accordion::slotted(h3[slot="_accordion"]:nth-of-type(4n + 1)),
ing-accordion::slotted(h3[slot="_accordion"]:nth-of-type(4n + 1) + ing-accordion-content) {
  grid-column: 1;
}

ing-accordion::slotted(h3[slot="_accordion"]:nth-of-type(4n + 3)),
ing-accordion::slotted(h3[slot="_accordion"]:nth-of-type(4n + 3) + ing-accordion-content) {
  grid-column: 2;
}